<script lang="ts">
	import '$lib/global.css';

	const titulo = 'Oficio Parvo de Nuestra Señora';
	const tituloweb = `Reloj | ${titulo}`;
	const descripcion = 'Indicador de hora canonica y oficio para el tiempo del año';
</script>

<svelte:head>
	<title>{tituloweb}</title>
	<meta name="robots" content="index" />
	<html lang="es" />

	<meta name="title" content={tituloweb} />
	<meta name="description" content={descripcion} />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://oficioparvo.cristianismo.cr" />
	<meta property="og:title" content={tituloweb} />
	<meta property="og:description" content={descripcion} />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:url" content="https://oficioparvo.cristianismo.cr" />
	<meta name="twitter:title" content={tituloweb} />
	<meta name="twitter:description" content={descripcion} />
</svelte:head>

<slot />
