<script lang="ts">
	import { onMount } from 'svelte';
	import { getTime, getOffice, Hour } from '$lib/hora/hora';
	import { Datetime } from '$lib/datetime/time';
	import { getPsalmsLessons } from '$lib/maitins/maitins';
	import { lang, timezone } from '$lib/stores/config';
	import HoraCanonica from './hora.svelte';
	import Config from './conf.svelte';

	$: dt = new Datetime($timezone, $lang);
	let now = new Date();
	let time: string;
	$: hora = getTime(now, dt);
	$: oficio = getOffice(now, dt);
	$: maitinsReadings = getPsalmsLessons(dt.mkDateFromDate(now).day(), oficio);
	$: time = dt.mkDateFromDate(now).format('ddd h:mm a');

	onMount(() => {
		setInterval(() => {
			now = new Date();
		}, 1000);

		if (/^es/.test(window.navigator.language)) {
			$lang = 'es';
		} else if (/^en/.test(window.navigator.language)) {
			$lang = 'en';
		} else if (/^pt/.test(window.navigator.language)) {
			$lang = 'pt';
		} else {
			$lang = 'en';
		}
	});
</script>

<HoraCanonica hour={hora} office={oficio} {time} />

<Config />

<div class="prose ml-10 lg:ml-28 mt-4">
	<p>
		<strong>Este sitio está aún en construcción</strong>: esta página solo muestra la hora canónica
		actual según su huso horario, así como el oficio que debe rezar dependiendo del tiempo del año.
		Las variantes de los salmos de Maitines (Matutinum) para el día de la semana y el tiempo del año
		se muestran también{#if hora === Hour.Maitins}, y pueden ser consultadas más abajo, a
			continuación{/if}. No se ofrece una versión en línea del oficio para rezar, por lo que
		necesitará una copia impresa a mano para poder hacerlo. Recomendamos la
		<a href="https://a.co/d/1Ajwgu7">edición de Militantis</a>.
	</p>
	<p>En el futuro se ofrecerá una versión en línea del Oficio para conveniencia de los usuarios.</p>
</div>
{#if hora === Hour.Maitins}
	<h2 class="mt-4 ml-10 lg:ml-28 text-2xl lg:text-4xl">
		Variaciones de <span class="font-bold">Matutinum</span>
	</h2>
	<div class="mt-4 ml-10 lg:ml-28 lg:text-xl flex">
		<div class="flex-1">
			<h3 class="text-xl font-bold text-left">Salmos</h3>
			<ol class="list-decimal pl-6">
				<li>Salmo 94</li>
				{#each maitinsReadings.psalms as salmo}
					<li>Salmo {salmo}</li>
				{/each}
			</ol>
		</div>
		<div class="flex-1">
			<h3 class="text-xl font-bold text-left">Lecciones</h3>
			<ol class="list-decimal pl-6">
				{#each maitinsReadings.lessons as lesson}
					<li>{lesson}</li>
				{/each}
			</ol>
		</div>
	</div>
	<hr class="mt-5" />
{/if}
