<script lang="ts">
	import timezones from 'timezones-list/src/timezones.json';
	import Svelecte from 'svelecte';

	import { lang, timezone } from '$lib/stores/config';
</script>

<div class="bg-base-200 py-2 px-2 lg:px-28 flex space-x-2">
	<div class="w-1/2 flex-1">
		<label for="timezone" class="pl-1">Huso horario</label>
		<div>
			<Svelecte
				options={timezones}
				inputId="timezone"
				bind:value={$timezone}
				labelField="name"
				valueField="tzCode"
				placeholder="Seleccione su huso horario"
			/>
		</div>
	</div>
	<div class="w-1/2">
		<label for="lang" class="pl-1">Idioma del reloj</label>
		<div>
			<Svelecte
				options={[
					{ name: 'Español', value: 'es' },
					{ name: 'English', value: 'en' },
					{ name: 'Português', value: 'pt' }
				]}
				searchable={false}
				inputId="lang"
				bind:value={$lang}
				placeholder="Seleccione su idioma"
			/>
		</div>
	</div>
</div>
