<script lang="ts">
	import { Hour, Office } from '$lib/hora/hora';

	export let hour: Hour;
	export let office: Office;
	export let time: string;
</script>

<div class="text-base-100 bg-primary py-10 lg:py-20">
	<div class="w-52 lg:w-80 mx-auto">
		<div class="text-3xl lg:text-5xl lg:mb-2 font-bold">
			{#if hour === Hour.Maitins}
				Matutinum
			{/if}
			{#if hour === Hour.Laudes}
				Laudes
			{/if}
			{#if hour === Hour.Prime}
				Prima
			{/if}
			{#if hour === Hour.Terce}
				Tertia
			{/if}
			{#if hour === Hour.Sext}
				Sexta
			{/if}
			{#if hour === Hour.None}
				Nona
			{/if}
			{#if hour === Hour.Vesper}
				Vesperae
			{/if}
			{#if hour === Hour.Compline}
				Completorium
			{:else}
				???
			{/if}
		</div>
		<span class="font-bold lg:text-xl">
			{#if office === Office.First}
				Primer Oficio
			{/if}
			{#if office === Office.Second}
				Segundo Oficio
			{/if}
			{#if office === Office.Third}
				Tercer Oficio
			{/if}
		</span>
		<span class="lg:text-xl">/</span>
		<span class="lg:text-xl">{time}</span>
	</div>
</div>
